html{font-family:"微软雅黑",Helvetica,Arial,sans-serif;font-size:14px; -ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%; /*修正手持设备字体变化*/}
body{min-width:1220px;}
button{outline: none;cursor:pointer;}
.m_header{background:#e6e6e6;font-size:12px;line-height:30px;color:#333;}
.m_header a{color:#333;display:inline-block;margin:0 5px;}
.m_nav{background:url(../../images/default/m_head_bg.png) no-repeat;background-size:100%;height:100px;border-bottom:1px solid #f5f5f5;}
.m_nav .m_logo{padding:14px 8px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing: border-box;max-height:100px;overflow:hidden;}
.m_nav ul{background:#fff;height:100px;}
.m_nav ul li{float:left;line-height:99px;margin-left:65px;font-size:18px;}
.m_nav ul li a{color:#333;padding:0 10px;display:inline-block;}
.m_nav ul li a:hover,.m_nav ul li a.active{border-bottom:2px solid #f07c2e;}
.m_nav .m_search{margin-top:28px;}
.m_nav .m_search input{border:1px solid #f07c2e;font-size:14px;height:46px;width:320px;padding:0 10px;float:left;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.m_nav .m_search .m_search_btn{height:46px;border:1px solid #f07c2e;width:80px;background:#f07c2e;float:left;}

.m_nav2{background:#f07c2e;background-size:100%;height:100px;border-bottom:1px solid #f5f5f5;}
.m_nav2 .m_logo{padding:14px 8px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing: border-box;max-height:100px;overflow:hidden;}


/*用户中心左边*/
.m_content .m_leftbox{width:180px;background:#f5f5f5;text-align:center;padding-bottom:80px;overflow:hidden;}
.m_content .m_leftbox .m_user{font-size:16px;height:60px;padding:20px 0;}
.m_content .m_leftbox .m_user span{display:block;margin:0 auto 10px;width:21px;height:21px;background:url(../../images/default/m_icon_user2.png) no-repeat;}
.m_content .m_leftbox .m_user a{color:#333;display:block;}
.m_content .m_leftbox .m_user a:hover,.m_content .m_leftbox .m_user a.active{color:#f07c2e;}
.m_content .m_leftbox .m_user a:hover span,.m_content .m_leftbox .m_user a.active span{background:url(../../images/default/m_icon_user1.png) no-repeat;}
.m_content .m_leftbox dl{margin:0;padding-bottom:20px;}
.m_content .m_leftbox dl a{color:#333;}
.m_content .m_leftbox dl dd a:hover,.m_content .m_leftbox dl dd a.active{color:#f07c2e;}
.m_content .m_leftbox dt{line-height:40px;background:#e6e6e6;font-size:16px;}
.m_content .m_leftbox dt a{display:block;}
.m_content .m_leftbox dt a.active{background:#f07c2e;color:#fff;}
.m_content .m_leftbox dd{text-align:left;position:relative;left:50%;margin-left:-30px;font-size:14px;line-height:30px;}

/*用户中心右边*/
.m_content .m_rightbox{margin:20px 0px 20px 20px;width:1000px;}
.m_content .m_rightbox .m_order_title{margin-bottom:40px;}
.m_content .m_rightbox .m_order_title:after{content:'';clear:both;display:block;}
.m_content .m_rightbox .m_order_title .m_user{background:url(../../images/default/m_user_bg.png) no-repeat;height:120px;width:676px;padding:25px 0 25px 115px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.m_content .m_rightbox .m_order_title .m_user div{margin-left:15px;color:#fff;padding-top:15px;}
.m_content .m_rightbox .m_order_title .m_user div h4{font-weight:normal;font-size:18px;margin-right:15px;}
.m_content .m_rightbox .m_order_title .m_user div p{line-height:24px;font-size:12px;}
.m_content .m_rightbox .m_order_title .m_user div p img{margin:4px 5px 0 0;}
.m_content .m_rightbox .m_order_title .m_user div p span{margin-right:15px;}
.m_content .m_rightbox .m_order_title a{height:120px;width:120px;text-align:center;background:#f5f5f5;color:#333;margin-left:41px;}
.m_content .m_rightbox .m_order_title a span{margin:15px auto 5px;}
.m_content .m_rightbox .m_order_title a.active,.m_content .m_rightbox .m_order_title a:hover{background: linear-gradient(to bottom,#ff9d57, #f07c2e);color:#fff;}
.m_content .m_rightbox .m_order_title .m_fukuan span{background:url(../../images/default/m_icon_daifukuan1.png) no-repeat;display:block;height:62px;width:58px;background-position:0 4px;}
.m_content .m_rightbox .m_order_title .m_fukuan.active span,.m_content .m_rightbox .m_order_title .m_fukuan:hover span{background:url(../../images/default/m_icon_daifukuan2.png) no-repeat;background-position:0 4px;}
.m_content .m_rightbox .m_order_title .m_shoujian span{background:url(../../images/default/m_icon_daishoujian1.png) no-repeat;display:block;height:62px;width:51px;}
.m_content .m_rightbox .m_order_title .m_shoujian.active span,.m_content .m_rightbox .m_order_title .m_shoujian:hover span{background:url(../../images/default/m_icon_daishoujian2.png) no-repeat;}

.m_content .m_rightbox .m_order_box{border:1px solid #e6e6e6;padding:15px 20px;display:none;min-height:450px;}
.m_content .m_rightbox .m_order_box.active{display:block;}
.m_content .m_rightbox .m_order_box h3{font-size:18px;font-weight:normal;margin-bottom:5px;color:#333;}
.m_content .m_rightbox .m_order_box table{width:100%;}
.m_content .m_rightbox .m_order_box table th{background:#f5f5f5;line-height:30px;font-size:14px;color:#333;padding:0 10px;}
.m_content .m_rightbox .m_order_box table th.width1{width:12.6%;}
.m_content .m_rightbox .m_order_box .m_list .m_order{width:100%;}
.m_content .m_rightbox .m_order_box .m_list .m_order h5{font-size:12px;font-weight:normal;line-height:44px;padding-left:10px;}
.m_content .m_rightbox .m_order_box .m_list .m_order h5 a{border:1px solid #f07c2e;border-radius:4px;padding:3px 8px;color:#f07c2e;margin-left:8px;font-size:14px;}
.m_content .m_rightbox .m_order_box .m_list .m_order h5 span{margin-left:15px;}
.m_content .m_rightbox .m_order_box .m_list .m_order .order_sub{width:100%;display:flex;border:1px solid #e6e6e6;}
.m_content .m_rightbox .m_order_box .m_list .m_order .order_sub:after{display:block;content:"";clear:both;}
.m_content .m_rightbox .m_order_box .m_list .m_order .order_sub .m_img_box{width:12.6%;text-align:center;position:relative;}
.m_content .m_rightbox .m_order_box .m_list .m_order .order_sub .m_img_box div{display:block;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);}
.m_content .m_rightbox .m_order_box .m_list .m_order .order_sub .m_img_box span{position:relative;overflow:hidden;border:1px solid #e6e6e6;height:58px; width:58px;display:inline-block;vertical-align:middle;}
.m_content .m_rightbox .m_order_box .m_list .m_order .order_sub .m_img_box span img{width:100%;height:auto;display:block;}
.m_content .m_rightbox .m_order_box .m_list .m_order .order_sub .m_img_box p{font-size:12px; color:#333;margin-top:5px;}
.m_content .m_rightbox .m_order_box .m_list table{width:87.5%;border-left:1px solid #e6e6e6;display:block;}
.m_content .m_rightbox .m_order_box .m_list table tbody{display:table;width:100%;}
.m_content .m_rightbox .m_order_box .m_list table tr:last-of-type td{border-bottom:none;}
.m_content .m_rightbox .m_order_box .m_list table td{text-align:center;height:116px;position:relative;font-size:12px;border-bottom:1px solid #e6e6e6;padding:0 10px;}
.m_content .m_rightbox .m_order_box .m_list table td p{width:100%;word-break: break-all;}
.m_content .m_rightbox .m_order_box .m_list table td.width1{width:14.4%;text-align:center;}
.m_content .m_rightbox .m_order_box .m_list table td.width2 p{text-align:left;width:60%;margin:0 auto;}
.m_content .m_rightbox .m_order_box .m_list table td.width2 p span{float:right;font-weight:bold;}
.m_content .m_rightbox .m_order_box .m_list table td i{position:absolute;right:0;top:0;height:116px;width:1px; background: linear-gradient(to bottom, rgba(230,230,230,0), rgba(230,230,230,1) 50%,  rgba(230,230,230,0));}
.m_content .m_rightbox .m_order_box .m_list table td a{display:block;color:#333;font-size:12px;line-height:1.6em;width:100%;}
.m_content .m_rightbox .m_order_box .m_list table td a:hover{color:#f07c2e;}
.m_content .m_rightbox .m_order_box .m_list .m_order_recipient table{width:100%;border:none;}
.m_content .m_rightbox .m_order_box .m_list .m_order_recipient table td{border-right:1px solid #e6e6e6;}
.m_content .m_rightbox .m_order_box .m_list .m_order_recipient table td.width1{width:12.6%;}
.m_content .m_rightbox .m_order_box .m_list .m_order_recipient table td:last-of-type{border-right:none;}

.m_content .m_rightbox .m_serice_box{margin-top:40px;}
.m_content .m_rightbox .m_serice_box h3{line-height:40px;color:#fff;font-size:18px;background:#f5f5f5;font-weight:normal;width:100%;}
.m_content .m_rightbox .m_serice_box h3 span{background:#f07c2e;display:block;padding:0 40px;}
.m_content .m_rightbox .m_serice_box .m_slider{border:1px solid #e6e6e6;float:left;border-top:none;width:100%;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;position:relative;}
.m_content .m_rightbox .m_serice_box .m_slider .m_btn{position: absolute;display: block;width:28px;height:28px;top: 50%;cursor: pointer;margin-top:-14px;}
.m_content .m_rightbox .m_serice_box .m_slider .m_left_btn{background: url(../../images/default/m_arrow_l.png) no-repeat center;left: 30px;z-index: 9;}
.m_content .m_rightbox .m_serice_box .m_slider .m_right_btn{background: url(../../images/default/m_arrow_r.png) no-repeat center;right: 30px;z-index: 9;}
.m_content .m_rightbox .m_serice_box .m_slider .slider_box{position: relative;overflow: hidden;width:792px;margin:50px auto;}
.m_content .m_rightbox .m_serice_box .m_slider .slider_box ul {position: relative;list-style: none;}
.m_content .m_rightbox .m_serice_box .m_slider .slider_box ul li{float: left;width: 224px;margin-left: 60px;box-sizing: border-box;overflow: hidden;text-align: center;}
.m_content .m_rightbox .m_serice_box .m_slider .slider_box ul li:first-of-type {margin-left: 0;}
.m_content .m_rightbox .m_serice_box .m_slider .slider_box ul li span {display: block;width: 222px;height: 150px;border: 1px solid #ccc;}
.m_content .m_rightbox .m_serice_box .m_slider .slider_box ul li img {width:100%;height:auto;}
.m_content .m_rightbox .m_serice_box .m_slider .slider_box ul li p{color:#333;font-size:16px;margin:10px 0 0;}
.order_view{padding:10px;width:400px;}
.order_view h3{border-bottom:1px solid #e6e6e6;padding:10px 0;}
.order_view h3 span{font-size:18px;font-weight:normal;border-left:2px solid #f07c2e;line-height:18px;display:block;padding-left:10px;margin-left:10px;}
.order_view div{margin:0 10px;border-bottom:1px dashed #e6e6e6;padding-bottom:20px;padding-left:10px;}
.order_view div p{margin-top:20px;color:#333;}
.order_view div p b{width:65px;float:left;}
.order_view div p span{color:#808080;margin-left:10px;}
.order_view button{margin:20px auto;display:block;width:90px;height:30px;border:none;background:#f07c2e;color:#fff;border-radius:6px;}

.popver .logistics_view{padding:10px;width:400px;}
.popver .logistics_view h3{border-bottom:1px solid #e6e6e6;padding:10px 0;}
.popver .logistics_view h3 span{font-size:18px;font-weight:normal;border-left:2px solid #f07c2e;line-height:18px;display:block;padding-left:10px;margin-left:10px;}
.popver .logistics_view .txt{margin:0px;border-bottom:10px solid #e6e6e6;padding-bottom:5px;padding-left:10px;}
.popver .logistics_view .txt p{margin-top:5px;color:#333;}
.popver .logistics_view .txt p b{float:left;}
.popver .logistics_view .txt p span{color:#808080;margin-left:15px;}
.popver .logistics_view .logistics_process{padding:1px 20px 20px;border-left:1px solid #e6e6e6;margin:25px 20px 0px;}
.popver .logistics_view .logistics_process p{position:relative;margin-bottom:22px;margin-top:-7px;padding-bottom:12px;font-size:14px;border-bottom:1px solid #e6e6e6;}
.popver .logistics_view .logistics_process p b{line-height:1em;display:block;margin-top:0px;color:#808080;margin-bottom:8px;}
.popver .logistics_view .logistics_process p span{display:block;color:#808080;}
.popver .logistics_view .logistics_process p i{height:4px;width:4px;background:#e6e6e6;border-radius:50%;border:1px solid #e6e6e6;position:absolute;left:-23px;top:6px;}
.popver .logistics_view button{margin:0 auto 20px;display:block;width:90px;height:30px;border:none;background:#f07c2e;color:#fff;border-radius:6px;}
.popver .logistics_view .logistics_process p.active b{color:#333;}
.popver .logistics_view .logistics_process p.active i{background:#f07c2e;height:6px;width:6px;border:2px solid rgba(249,199,166,1);left:-25px;}

.order_nav{border-bottom:1px solid #e6e6e6;width:100%;float:left;margin-bottom:30px;}
.order_nav a{font-size:18px;float:left;padding:0 10px 8px;color:#333;border-bottom:1px solid rgba(0,0,0,0);transition:all 200ms;-webkit-transition:all 200ms;-moz-transition:all 200ms;margin-right:10px;}
.order_nav a:hover,.order_nav a.active{border-bottom:1px solid #f07c2e;}


.orange{color:#f07c2e !important;}

.popver{position:fixed;top:0;bottom:0;width:100%;background:rgba(0,0,0,0.5);display:none;z-index:999;}
.popver>div{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);background:#fff;}
.popver.active{display:block;}

/**/
.m_content .m_rightbox .m_expert{border:1px solid #e6e6e6;padding:15px 20px;float:left;width: 100%;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing: border-box;min-height:550px;}
.m_expert .expert_title{border-bottom:1px solid #e6e6e6;width:100%;float:left;margin-bottom:30px;}
.m_expert .expert_title p{border-bottom:1px solid #f07c2e;float:left;padding:0 10px 8px;color:#333;font-size:18px;}
.m_expert .m_expert_list{padding:0 00px;}
.m_expert .m_expert_list li{float:left;text-align:center;width:280px;margin-bottom:20px;height:341px;}
.m_expert .m_expert_list li:nth-of-type(3n-1){margin:0 56px 20px;}
.m_expert .m_expert_list li .img{height:224px;width:200px;position:relative;overflow:hidden;border:1px solid #ccc;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing: border-box;margin:0 auto;}
.m_expert .m_expert_list li .img img{height:100%;display:block;position:absolute;top:0;left:50%;transform:translateX(-50%);-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);}
.m_expert .m_expert_list li h4{font-size:14px;color:#333;line-height:40px;}
.m_expert .m_expert_list li p{font-size:16px;color:#333;}
.m_expert .m_expert_list li p span{margin-left:15px;}
.m_expert .m_expert_list li a{background:#f07c2e;font-size:15px;color:#fff;width:120px;height:40px;display:block;margin:0 auto;margin-top:15px;line-height:40px;border-radius:8px;}
.m_expert .m_expert_list li a img{vertical-align:middle;margin-right:8px;}

.m_content .m_rightbox .m_set_box{border:1px solid #e6e6e6;padding:15px 20px;float:left;width: 100%;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing: border-box;min-height:550px;}
.set_nav{border-bottom:1px solid #e6e6e6;width:100%;float:left;margin-bottom:30px;}
.set_nav a{font-size:18px;float:left;padding:0 10px 8px;color:#333;border-bottom:1px solid rgba(0,0,0,0);transition:all 200ms;-webkit-transition:all 200ms;-moz-transition:all 200ms;margin-right:10px;}
.set_nav a:hover,.set_nav a.active{border-bottom:1px solid #f07c2e;}
.m_set_box .m_info{padding-left:40px;display:none;}
.m_set_box .m_info.active{display:block;}
.m_set_box .m_info label{display:block;font-size:16px;color:#333;}
.m_set_box .m_info input{border:1px solid #ccc;background:#fff;font-size:14px;height:28px;margin:15px 10px 15px 0;color:#333;padding:0 15px;min-width:200px;}
.m_set_box .m_info input:read-only{background:#f5f5f5;}
.m_set_box .m_info a{color:#f07c2e;font-size:14px;line-height:30px;margin-left:10px;}

.m_set_box .m_pwd{padding-left:40px;display:none;}
.m_set_box .m_pwd.active{display:block;}
.m_set_box .m_pwd label{display:block;font-size:16px;color:#333;}
.m_set_box .m_pwd input{border:1px solid #ccc;background:#fff;font-size:14px;height:28px;margin:15px 10px 15px 0;color:#333;padding:0 15px;min-width:200px;}
.m_set_box .m_pwd button{margin-left:80px;display:block;width:90px;height:40px;border:none;background:#f07c2e;color:#fff;border-radius:10px;}

.m_set_box .m_recipient{display:none;}
.m_set_box .m_recipient.active{display:block;}
.m_set_box .m_recipient table{width:100%;display:block;float:left;}
.m_set_box .m_recipient table tbody{display:table;width:100%;}
.m_set_box .m_recipient table th{background:#f5f5f5;line-height:30px;font-size:14px;color:#333;padding:0 10px;}
.m_set_box .m_recipient table .width1{width:20%;}
.m_set_box .m_recipient table.width2{width:30%;}
.m_set_box .m_recipient table td{text-align:center;position:relative;font-size:14px;border-bottom:1px solid #e6e6e6;padding:0 10px;height:50px;color:#333;}
.m_set_box .m_recipient table td input{vertical-align:middle;margin:0 10px;width:12px;}
.m_set_box .m_recipient table td label{color:#333;}
.m_set_box .m_recipient table td a{color:#333;margin:0 5px;}
.m_set_box .m_recipient button{float:right;color:#808080;font-size:14px;background:#fff;border:1px solid #ccc;height:28px;padding:0 12px;margin:30px 0 0;}

.recipient_input{padding:10px 0 40px;width:400px;text-align:center;}
.recipient_input h3{border-bottom:1px solid #e6e6e6;padding:10px 10px;text-align:left;}
.recipient_input h3 span{font-size:18px;font-weight:normal;border-left:2px solid #f07c2e;line-height:18px;display:block;padding-left:10px;margin-left:10px;}
.recipient_input .input_box{text-align:left;padding:20px 40px;margin-left:20px;}
.recipient_input .input_box label{display:block;color:#808080;}
.recipient_input .input_box input{display:block;border:1px solid #ccc;height:30px;margin:10px 0 15px;width:200px;}
.recipient_input .input_box input.address{width:100%;}
.recipient_input button{height:30px;border:none;background:#f07c2e;color:#fff;border-radius:4px;padding:0 10px;margin-left:20px;}
.recipient_input button.grey{background:#808080;}

.m_set_box .m_invoice{display:none;}
.m_set_box .m_invoice.active{display:block;}
.m_set_box .m_invoice table{width:100%;display:block;float:left;}
.m_set_box .m_invoice table tbody{display:table;width:100%;}
.m_set_box .m_invoice table th{background:#f5f5f5;line-height:30px;font-size:14px;color:#333;padding:0 5px;}
.m_set_box .m_invoice table .width1{width:20%;}
.m_set_box .m_invoice table .width2{width:30%;}
.m_set_box .m_invoice table td{text-align:center;position:relative;font-size:14px;border-bottom:1px solid #e6e6e6;padding:0 5px;height:50px;color:#333;}
.m_set_box .m_invoice table td input{vertical-align:middle;margin:0 10px;width:12px;}
.m_set_box .m_invoice table td label{color:#333;}
.m_set_box .m_invoice table td a{color:#333;margin:0 5px;}
.m_set_box .m_invoice button{float:right;color:#808080;font-size:14px;background:#fff;border:1px solid #ccc;height:28px;padding:0 12px;margin:30px 0 0;}

.invoice_input{padding:10px 0 40px;width:500px;text-align:center;}
.invoice_input h3{border-bottom:1px solid #e6e6e6;padding:10px 10px;text-align:left;}
.invoice_input h3 span{font-size:18px;font-weight:normal;border-left:2px solid #f07c2e;line-height:18px;display:block;padding-left:10px;margin-left:10px;}
.invoice_input .input_box{text-align:left;padding:20px 40px 30px;margin-left:20px;}
.invoice_input .input_box div{position:relative;}
.invoice_input .input_box span{position:absolute;left:-25px;top:40px;color:#f07c2e;}
.invoice_input .input_box label{display:block;color:#808080;}
.invoice_input .input_box input{display:block;border:1px solid #ccc;height:30px;margin:10px 0 15px;width:100%;}
.invoice_input .input_box .picture{margin-top:10px;width:100%;}
.invoice_input .input_box .picture p{display:inline-block;font-size:12px;color:#808080;margin-left:20px;line-height:32px;vertical-align:bottom;}
.invoice_input button{height:30px;border:none;background:#f07c2e;color:#fff;border-radius:4px;padding:0 10px;margin-left:20px;}
.invoice_input button.grey{background:#808080;}


.m_message{border:1px solid #f5f5f5; width:100%;}
.m_message h6{background:#f5f5f5;font-weight:normal;font-size:14px;line-height:1em;padding:8px 35px 8px;color:#808080;}
.m_message .message_list li{border-bottom:1px solid #f5f5f5;padding:17px 35px 17px;float:left;width:100%;box-sizing: border-box;-moz-box-sizing:border-box;-webkit-box-sizing: border-box;}
.m_message .message_list li p{line-height:1em;color:#f07c2e;}
.m_message .message_list li span{line-height:1em;color:#f07c2e;}
.m_message .message_list li i{height:6px;width:6px;float:left;background:#ccc;border-radius:50%;margin:5px 7px 0 10px;}
.m_message .message_list li.read p{line-height:1em;color:#808080;}
.m_message .message_list li.read span{line-height:1em;color:#808080;}
.m_message .message_list li.read i{height:6px;width:6px;float:left;background:#ccc;border-radius:50%;margin:5px 7px 0 10px;}
.m_message .button_box{padding:15px 35px;float:left;}
.m_message .button_box button{margin-right:20px;color:#808080;background:#f5f5f5;border:1px solid #ccc;height:28px;padding:0 10px;}

.m_message label {position: relative;cursor: pointer;width:12px;height:12px;float:left;margin-right:10px;margin-top:1px;}
input[type=checkbox] {cursor: pointer;display:none;}
input:checked + .show-box {background:none;}
.show-box {position: absolute;top: 0;left: 0;width: 11px;height: 11px;border-radius: 0px; border: 1px solid #d8d8d8;background: none;}
input:checked + .show-box:before {content: '';position: absolute;top: 1px;left: 4px;width: 2px;height: 6px;border: solid #000;border-width: 0 2px 2px 0;transform: rotate(45deg);-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);}

.message_prompt{width:360px;padding-bottom:20px;}
.message_prompt h3{font-size:18px;color:#fff;background:#f07c2e;text-align:center;font-weight:normal;line-height:40px;}  
.message_prompt div{padding:20px 20px 0;}
.message_prompt p{color:#808080;padding:15px 0;}
.message_prompt p:first-of-type{border-bottom:1px solid #f5f5f5;}
.message_prompt button{margin:0 auto;display:block;color:#fff;background:#f07c2e;border:none;border-radius:4px;height:32px;padding:0 15px;}


.m_balance_box{border:1px solid #f5f5f5; width:100%;padding:15px;min-height:450px;}
.m_balance_box .m_balance div.tit{width:100%;height:60px;background:#f5f5f5;color:#333;margin-bottom:30px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;padding:0 150px 0 30px;}
.m_balance_box .m_balance div.tit h3{background:#f5f5f5;color:#333;line-height:60px;}
.m_balance_box .m_balance div.tit h3 span{color:#f07c2e;}
.m_balance_box .m_balance div.tit button{color:#fff;background:#f07c2e;border:none;border-radius:4px;height:32px;padding:0 15px;font-size:16px;margin:14px 0;}
.m_balance_box .record table{width:100%;display:block;float:left;}
.m_balance_box .record table tbody{display:table;width:100%;}
.m_balance_box .record table th{background:#f5f5f5;line-height:30px;font-size:14px;color:#333;padding:0 5px;}
.m_balance_box .record table .width1{width:20%;}
.m_balance_box .record table .width2{width:30%;}
.m_balance_box .record table td{text-align:center;position:relative;font-size:14px;border-bottom:1px solid #e6e6e6;padding:0 5px;height:50px;color:#808080;}
.m_balance_box .record button{float:right;color:#808080;font-size:14px;background:#fff;border:1px solid #ccc;height:28px;padding:0 12px;margin:30px 0 0;}

.m_application_invoices_box{border:1px solid #f5f5f5; width:100%;padding:15px;min-height:450px;}
.m_application_invoices_box .m_application_invoices table{width:100%;display:block;float:left;}
.m_application_invoices_box .m_application_invoices table tbody{display:table;width:100%;}
.m_application_invoices_box .m_application_invoices table th{background:#f5f5f5;line-height:30px;font-size:14px;color:#333;padding:0 5px;}
.m_application_invoices_box .m_application_invoices table .width1{width:15%;}
.m_application_invoices_box .m_application_invoices table .width2{width:30%;}
.m_application_invoices_box .m_application_invoices table td{text-align:center;position:relative;font-size:14px;border-bottom:1px solid #e6e6e6;padding:0 5px;height:50px;color:#808080;}
.m_application_invoices_box .m_application_invoices table td a{display:block;color:#333;}
.m_application_invoices_box .m_application_invoices button{float:right;color:#808080;font-size:14px;background:#fff;border:1px solid #ccc;height:28px;padding:0 12px;margin:30px 0 0;}

.application_invoices_input{padding:10px 0 30px;width:500px;text-align:center;}
.application_invoices_input h3{border-bottom:1px solid #e6e6e6;padding:10px 10px;text-align:left;}
.application_invoices_input h3 span{font-size:18px;font-weight:normal;border-left:2px solid #f07c2e;line-height:18px;display:block;padding-left:10px;margin-left:10px;}
.application_invoices_input .application{padding:15px 15px 0;}
.application_invoices_input .application .tit{border-bottom:1px solid #f5f5f5;}
.application_invoices_input .application .tit p{vertical-align:top;text-align:left;margin-bottom:12px;}
.application_invoices_input .application .tit p span{width:40%;display:inline-block;vertical-align:top;text-align:right;}
.application_invoices_input .application .tit p.prompt{color:#8f8f8f;text-align:center;}
.application_invoices_input .application .tit p.prompt i{color:#122ccb;font-style:normal;}
.application_invoices_input .application .input_box{text-align:left;padding:20px 0px 20px;}
.application_invoices_input .application .input_box div{position:relative;}
.application_invoices_input .application .input_box span{color:#f07c2e;display:inline-block;height:30px;}
.application_invoices_input .application .input_box label{color:#333;display:inline-block;width:25%;text-align:right;}
.application_invoices_input .application .input_box input{border:1px solid #ccc;height:30px;margin:10px 0 10px;font-size:14px;color:#808080;}
.application_invoices_input .application .input_box font{color:#333;}
.application_invoices_input .application .input_box .address{width:55%;}
.application_invoices_input button{height:30px;border:none;background:#f07c2e;color:#fff;border-radius:4px;padding:0 20px;}

.m_content .m_rightbox .m_coupon_box{border:1px solid #e6e6e6;padding:15px 20px;float:left;width: 100%;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing: border-box;min-height:550px;}
.coupon_nav{border-bottom:1px solid #e6e6e6;width:100%;float:left;margin-bottom:30px;}
.coupon_nav a{font-size:18px;float:left;padding:0 10px 8px;color:#333;border-bottom:1px solid rgba(0,0,0,0);transition:all 200ms;-webkit-transition:all 200ms;-moz-transition:all 200ms;margin-right:10px;}
.coupon_nav a:hover,.coupon_nav a.active{border-bottom:1px solid #f07c2e;}
.coupon_nav button{color:#fff;background:#f07c2e;border:none;border-radius:8px;font-size:14px;height:30px;padding:0 20px;margin-right:35px;}
.m_coupon_list li{float:left;margin:0 25px 25px;width:265px;}
.m_coupon_list li>div{float:left;position:relative;}
.m_coupon_list li>div img{display:block;margin-bottom:-100px;z-index:1;}
.m_coupon_list li>div .price{font-size:24px;color:#fff;float:left;position:relative;z-index:3;margin:13px 0;padding-left:12px;}
.m_coupon_list li>div .price span{font-size:40px;color:#fff;line-height:1.7em;}
.m_coupon_list li>div .txt{z-index:3;float:right;margin:13px 0;position:relative;text-align:center;padding-right:12px;}
.m_coupon_list li>div .txt p{font-size:24px;color:#fff;line-height:1.5em;}
.m_coupon_list li>div .txt span{font-size:15px;color:#fff;}
.m_coupon_list li>p{text-align:center;color:#333;font-size:14px;margin:105px 0 10px;}
.m_coupon_list li>a{font-size:12px;color:#f07c2e;border:1px solid #f07c2e;border-radius:50px;padding:3px 12px;float:left;display:block;margin-left:50%;transform:translateX(-50%);-moz-transform:translateX(-50%);-webkit-transform:translateX(-50%);}

.add_coupon_input{padding:10px 20px 40px;width:360px;text-align:center;}
.add_coupon_input h3{border-bottom:1px solid #e6e6e6;padding:10px 10px;text-align:left;}
.add_coupon_input h3 span{font-size:18px;font-weight:normal;border-left:2px solid #f07c2e;line-height:18px;display:block;padding-left:10px;margin-left:10px;}
.add_coupon_input .input_box{text-align:left;padding:20px 20px 10px;margin-left:20px;}
.add_coupon_input .input_box div{position:relative;}
.add_coupon_input .input_box span{position:absolute;left:-25px;top:40px;color:#f07c2e;}
.add_coupon_input .input_box label{display:block;color:#808080;float:left;line-height:30px;}
.add_coupon_input .input_box input{display:block;border:1px solid #ccc;height:30px;margin:10px 0 15px;}
.add_coupon_input .input_box .picture{margin-top:10px;width:100%;}
.add_coupon_input .input_box .picture p{display:inline-block;font-size:12px;color:#808080;margin-left:20px;line-height:32px;vertical-align:bottom;}
.add_coupon_input button{height:30px;border:none;background:#f07c2e;color:#fff;border-radius:4px;padding:0 10px;margin-left:20px;}
.add_coupon_input button.grey{background:#808080;}


.m_content .m_rightbox .m_contract_box{border:1px solid #e6e6e6;padding:15px 20px;display:none;min-height:450px;}
.m_content .m_rightbox .m_contract_box.active{display:block;}
.m_content .m_rightbox .m_contract_box h3{font-size:18px;font-weight:normal;margin-bottom:5px;color:#333;}
.m_content .m_rightbox .m_contract_box table{width:100%;}
.m_content .m_rightbox .m_contract_box table th{background:#f5f5f5;line-height:30px;font-size:14px;color:#333;padding:0 10px;}
.m_content .m_rightbox .m_contract_box table th.width1{width:16.6%;}
.m_content .m_rightbox .m_contract_box .m_list .m_contract{width:100%;margin-top:30px;}
.m_content .m_rightbox .m_contract_box .m_list .m_contract h5{font-size:12px;font-weight:normal;line-height:44px;padding-left:10px;}
.m_content .m_rightbox .m_contract_box .m_list .m_contract h5 a{border:1px solid #f07c2e;border-radius:4px;padding:3px 8px;color:#f07c2e;margin-left:8px;font-size:14px;}
.m_content .m_rightbox .m_contract_box .m_list .m_contract h5 span{margin-left:15px;}
.m_content .m_rightbox .m_contract_box .m_list .m_contract .contract_sub{width:100%;display:flex;border:1px solid #e6e6e6;}
.m_content .m_rightbox .m_contract_box .m_list .m_contract .contract_sub:after{display:block;content:"";clear:both;}
.m_content .m_rightbox .m_contract_box .m_list .m_contract .contract_sub .m_img_box{width:16.7%;text-align:center;position:relative;}
.m_content .m_rightbox .m_contract_box .m_list .m_contract .contract_sub .m_img_box div{display:block;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);}
.m_content .m_rightbox .m_contract_box .m_list .m_contract .contract_sub .m_img_box span{position:relative;overflow:hidden;border:1px solid #e6e6e6;height:58px; width:58px;display:inline-block;vertical-align:middle;}
.m_content .m_rightbox .m_contract_box .m_list .m_contract .contract_sub .m_img_box p{font-size:12px; color:#333;}
.m_content .m_rightbox .m_contract_box .m_list table{width:83.3%;border-left:1px solid #e6e6e6;display:block;}
.m_content .m_rightbox .m_contract_box .m_list table tbody{display:table;width:100%;}
.m_content .m_rightbox .m_contract_box .m_list table tr:last-of-type td{border-bottom:none;}
.m_content .m_rightbox .m_contract_box .m_list table td{width:20%;text-align:center;height:82px;position:relative;font-size:12px;border-bottom:1px solid #e6e6e6;padding:0 10px;}
.m_content .m_rightbox .m_contract_box .m_list table td p{width:100%;word-break: break-all;}
.m_content .m_rightbox .m_contract_box .m_list table td span{color:#999;}
.m_content .m_rightbox .m_contract_box .m_list table td .adviser{color:#8f8f8f;text-decoration: underline;display:inline-block;width:auto;}
.m_content .m_rightbox .m_contract_box .m_list table td .adviser:hover{color:#8f8f8f;}
.m_content .m_rightbox .m_contract_box .m_list table td i{position:absolute;right:0;top:0;height:82px;width:1px; background: linear-gradient(to bottom, rgba(230,230,230,0), rgba(230,230,230,1) 50%,  rgba(230,230,230,0));}
.m_content .m_rightbox .m_contract_box .m_list table td a{display:block;color:#333;font-size:12px;line-height:1.6em;width:100%;}
.m_content .m_rightbox .m_contract_box .m_list table td a:hover{color:#f07c2e;}
.m_content .m_rightbox .m_contract_box .order_nav{margin-bottom:0;}

.m_search_box input{border:1px solid #f5f5f5;width:180px;padding:0 10px;height:30px;margin:20px 0 20px 20px;}
.m_search_box button{background:#f07c2e;border:none;height:30px;margin-left:20px;color:#fff;padding:0 15px;border-radius:6px;}

.contract_input{padding:10px 0 30px;width:500px;text-align:center;}
.contract_input h3{border-bottom:1px solid #e6e6e6;padding:10px 10px;text-align:left;}
.contract_input h3 span{font-size:18px;font-weight:normal;border-left:2px solid #f07c2e;line-height:18px;display:block;padding-left:10px;margin-left:10px;}
.contract_input .contract{padding:15px 15px 0;}
.contract_input .contract .tit{border-bottom:1px solid #f5f5f5;}
.contract_input .contract .tit p{vertical-align:top;text-align:left;margin-bottom:12px;}
.contract_input .contract .tit p span{width:40%;display:inline-block;vertical-align:top;text-align:right;}
.contract_input .contract .tit p.prompt{color:#8f8f8f;text-align:center;}
.contract_input .contract .tit p.prompt i{color:#122ccb;font-style:normal;}
.contract_input .contract .input_box{text-align:left;padding:20px 0px 20px;}
.contract_input .contract .input_box div{position:relative;}
.contract_input .contract .input_box span{color:#808080;display:inline-block;height:30px;}
.contract_input .contract .input_box label{color:#333;display:inline-block;width:25%;text-align:right;}
.contract_input .contract .input_box input{border:1px solid #ccc;height:30px;margin:10px 0 10px;font-size:14px;color:#808080;}
.contract_input .contract .input_box font{color:#333;}
.contract_input .contract .input_box .address{width:55%;}
.contract_input button{height:30px;border:none;background:#f07c2e;color:#fff;border-radius:4px;padding:0 20px;}

.m_content .m_rightbox .m_management_box{border:1px solid #e6e6e6;padding:15px 20px;display:none;min-height:450px;}
.m_content .m_rightbox .m_management_box.active{display:block;}
.m_content .m_rightbox .m_management_box h3{font-size:18px;font-weight:normal;margin-bottom:5px;color:#333;}
.m_content .m_rightbox .m_management_box table{width:100%;}
.m_content .m_rightbox .m_management_box table th{background:#f5f5f5;line-height:30px;font-size:14px;color:#333;padding:0 10px;}
.m_content .m_rightbox .m_management_box table th.width1{width:16.7%;}
.m_content .m_rightbox .m_management_box table th.width2{width:30%;}
.m_content .m_rightbox .m_management_box .m_list .m_management{width:100%;margin-top:30px;}
.m_content .m_rightbox .m_management_box .m_list .m_management h5{font-size:12px;font-weight:normal;line-height:44px;padding-left:10px;}
.m_content .m_rightbox .m_management_box .m_list .m_management h5 a{border:1px solid #f07c2e;border-radius:4px;padding:3px 8px;color:#f07c2e;margin-left:8px;font-size:14px;}
.m_content .m_rightbox .m_management_box .m_list .m_management h5 span{margin-left:15px;}
.m_content .m_rightbox .m_management_box .m_list .m_management .management_sub{width:100%;display:flex;border:1px solid #e6e6e6;}
.m_content .m_rightbox .m_management_box .m_list .m_management .management_sub:after{display:block;content:"";clear:both;}
.m_content .m_rightbox .m_management_box .m_list .m_management .management_sub .m_img_box{width:16.6%;text-align:center;position:relative;}
.m_content .m_rightbox .m_management_box .m_list .m_management .management_sub .m_img_box div{display:block;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);}
.m_content .m_rightbox .m_management_box .m_list .m_management .management_sub .m_img_box span{position:relative;overflow:hidden;border:1px solid #e6e6e6;height:58px; width:58px;display:inline-block;vertical-align:middle;}
.m_content .m_rightbox .m_management_box .m_list .m_management .management_sub .m_img_box p{font-size:12px; color:#333;}
.m_content .m_rightbox .m_management_box .m_list table{width:83.3%;border-left:1px solid #e6e6e6;display:block;}
.m_content .m_rightbox .m_management_box .m_list table tbody{display:table;width:100%;}
.m_content .m_rightbox .m_management_box .m_list table tr:last-of-type td{border-bottom:none;}
.m_content .m_rightbox .m_management_box .m_list table td{text-align:center;height:82px;position:relative;font-size:12px;border-bottom:1px solid #e6e6e6;padding:0 10px;}
.m_content .m_rightbox .m_management_box .m_list table td.width1{width:20%;}
.m_content .m_rightbox .m_management_box .m_list table td.width2{width:36.1%;}
.m_content .m_rightbox .m_management_box .m_list table td p{width:100%;word-break: break-all;}
.m_content .m_rightbox .m_management_box .m_list table td span{color:#999;}
.m_content .m_rightbox .m_management_box .m_list table td i{position:absolute;right:0;top:0;height:100%;width:1px; background: linear-gradient(to bottom, rgba(230,230,230,0), rgba(230,230,230,1) 50%,  rgba(230,230,230,0));}
.m_content .m_rightbox .m_management_box .m_list table td a{color:#333;font-size:12px;line-height:1.6em;}
.m_content .m_rightbox .m_management_box .m_list table td a:hover{color:#f07c2e;}
.m_content .m_rightbox .m_management_box .m_list table td.file_operation p{display:inline-block;width:auto;margin-right:10px;}
.m_content .m_rightbox .m_management_box .m_list table td.file_operation p img{vertical-align:middle;}
.m_content .m_rightbox .m_management_box .m_list table td.file_operation p span{display:inline-block;width:auto;color:#0f6fb9;vertical-align:middle;}
.m_content .m_rightbox .m_management_box .m_list table td.file_operation a{display:inline-block;width:auto;vertical-align:middle;margin-left:15px;}
.m_content .m_rightbox .m_management_box .m_list table td.operation{text-align:left;}
.m_content .m_rightbox .m_management_box .m_list table td.operation p{float:left;width:50%;text-align:right;line-height:1.4em;padding-right:6px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.m_content .m_rightbox .m_management_box .m_list table td.operation a{float:left;line-height:1.4em;padding-left:6px;color:#0f6fb9;}
.m_content .m_rightbox .m_management_box .m_list table td.operation a:hover{text-decoration:underline;}
.m_content .m_rightbox .m_management_box .order_nav{margin-bottom:0;}

.order_place h3{font-size:24px;color:#333;padding:50px 0 40px;}
.order_place h3 span{color:#333;font-size:12px;margin-left:10px;font-weight:normal;}
.order_place .project_box table{width:100%;}
.order_place .project_box table th{background:#f5f5f5;line-height:30px;font-size:12px;color:#8f8f8f;font-weight:normal;}
.order_place .project_box table th.width1{width:10%;padding:0 10px;}
.order_place .project_box table th.width2{width:70%;padding:0 20px;text-align:left;}
.order_place .project_box table td{border-bottom:1px solid #e6e6e6;}
.order_place .project_box table td>span{position:relative;display:block;float:left;height:60px;width:60px;overflow:hidden;border:1px solid #e6e6e6;}
.order_place .project_box table td span img{width:150%;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);}
.order_place .project_box table td.width2 p{font-size:12px;padding:10px 10px 0;float:left;}
.order_place .project_box table td p span{font-size:12px;display:block;line-height:1.8em;color:#8f8f8f;}
.order_place .project_box table td.width1{width:10%;text-align:center;padding:20px 10px;}
.order_place .project_box table td.width2{width:70%;padding:20px 20px;text-align:left;}
.order_place .project_box table td input{width:30px;height:20px;text-align:center;border:1px solid #f5f5f5;background:#fff;float:left;border-left:none;border-right:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.order_place .project_box table td button{background:#fff;float:left;border:1px solid #f5f5f5;height:20px;width:20px;}
.order_place .addres_box ul{width:100%;float:left;background:#f5f5f5;padding:10px 0;border:1px solid #e6e6e6;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.order_place .addres_box li{width:100%;float:left;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;padding:10px 0;}
.order_place .addres_box li p{float:left;width:15%;padding:0 20px;color:#333;font-size:14px;line-height:30px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.order_place .addres_box li p.phone{width:22%;}
.order_place .addres_box li p.address{width:27%;padding:0 10px;}
.order_place .addres_box li p.button_box{width:36%;text-align:center;}
.order_place .addres_box li p.button_box a{color:#333;background:#e6e6e6;margin-left:5px;display:inline-block;height:30px;line-height:30px;vertical-align:middle;padding:0 15px;font-size:14px;}
.order_place .addres_box .add_address{width:100%;border-bottom:1px solid #f5f5f5;padding-bottom:20px;}
.order_place .addres_box .add_show{font-weight:normal;float:left;margin-top:40px;cursor:pointer;color:#333;font-size:14px;line-height:20px;height:20px;}
.order_place .addres_box .add_show i{margin-top:6px;margin-left:15px;float:right;height:5px;width:5px;border-top:1px solid #333;border-right:1px solid #333;display:block;transform:rotate(135deg);-webkit-transform:rotate(135deg);;-moz-transform:rotate(135deg);}
.order_place .addres_box .add_address.active .add_show{color:#f07c2e;}
.order_place .addres_box .add_address.active i{border-top:1px solid #f07c2e;border-right:1px solid #f07c2e;}
.order_place .addres_box .add_address form{padding:10px 0;display:none;}
.order_place .addres_box .add_address.active form{display:block;}
.order_place .addres_box .add_address form div{float:left;clear:both;width:100%;margin:20px 0 0;}
.order_place .addres_box .add_address label{width:100px;float:left;text-align:right;vertical-align:top;height:30px;line-height:30px;font-size:14px;}
.order_place .addres_box .add_address input{border:1px solid #f5f5f5;color:#8f8f8f;height:30px;padding:0 10px;width:310px;font-size:12px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.order_place .addres_box .add_address select{color:#8f8f8f;border:1px solid #f5f5f5;float:left;padding:0 5px;width:150px;height:30px;font-size:12px;margin-right:10px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.order_place .addres_box .add_address textarea{resize:none;border:1px solid #f5f5f5;color:#8f8f8f;float:left;padding:5px 10px;width:310px;font-size:12px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.order_place .addres_box .add_address .button_box{width:410px;}
.order_place .addres_box .add_address .button_box button{background:#f07c2e;color:#fff;border:none;font-size:18px;padding:0 30px;height:34px;margin:0 auto;display:block;}
.order_place .invoice_input_box{border:1px solid #f5f5f5;width:100%;float:left;}
.order_place .invoice_input_box .radio div{margin:20px;}
.order_place .invoice_input_box .radio div input{vertical-align:middle;line-height:14px;margin-right:10px;}
.order_place .invoice_input_box .radio div label{color:#8f8f8f;height:1em;line-height:1em;font-size:12px;vertical-align:middle;}
.order_place .invoice_input_box .invoice_check{display:none;padding-left:40px;padding-bottom:30px;}
.order_place .invoice_input_box .invoice_check.active{display:block;}
.order_place .invoice_input_box .invoice_check div label{color:#8f8f8f;font-size:12px;float:left;height:26px;line-height:28px;}
.order_place .invoice_input_box .invoice_check .company>label{color:#8f8f8f;font-size:12px;float:left;height:1em;line-height:1em;margin-bottom:20px;}
.order_place .invoice_input_box .invoice_check .invoice_nav a{color:#8f8f8f;border:1px solid #f5f5f5;height:24px;font-size:12px;display:inline-block;line-height:24px;padding:0 20px;margin:0 10px;}
.order_place .invoice_input_box .invoice_check .invoice_nav a.active{color:#fff;border:1px solid #f07c2e;background:#f07c2e;}
.order_place .invoice_input_box .invoice_check div{position:relative;margin-right:15px;margin-bottom:20px;}
.order_place .invoice_input_box .invoice_check div span{position:absolute;font-size:16px;height:16px;left:-12px;top:50%;transform: translateY(-50%);-moz-transform: translateY(-50%);-webkit-transform: translateY(-50%);}
.order_place .invoice_input_box .invoice_check div input{color:#8f8f8f;border:1px solid #f5f5f5;height:24px;font-size:12px;display:inline-block;line-height:24px;padding:0 20px;margin:0 10px;}
.order_place .invoice_input_box .invoice_check .picture_box{vertical-align:bottom;}
.order_place .invoice_input_box .invoice_check .picture_box p{display:inline-block;vertical-align:bottom;font-size:12px;display:inline-block;line-height:24px;padding:0 20px;color:#ccc;}
.order_place .invoice_input_box .invoice_check .company,.order_place .invoice_input_box .invoice_check .personal{display:none;}
.order_place .invoice_input_box .invoice_check .company.active,.order_place .invoice_input_box .invoice_check .personal.active{display:block;}
.order_place .button_box{padding-left:70px;}
.order_place .button_box button{background:#e6e6e6;border:none;padding:0 20px;height:30px;color:#333;margin-right:15px;}
.order_place .button_box button.orange_btn{background:#f07c2e;color:#fff;}
.order_place .place_box{width:100%;float:left;background:#f5f5f5;height:60px;margin:40px 0;}
.order_place .place_box p{text-align:right;font-size:14px;height:60px;line-height:60px;padding-right:40px;float:right;}
.order_place .place_box p span{font-weight:bold;font-size:18px;}
.order_place .place_box a{font-size:18px;color:#fff;background:#f07c2e;height:60px;line-height:58px;padding:0 30px;}


.success_box{padding:0px 0 30px;width:400px;text-align:center;}
.success_box .img_box{background:#e6e6e6;padding:30px 0;}
.success_box h4{color:#333;font-size:24px;margin-top:20px;font-weight:normal;}
.success_box p{color:#333;font-size:16px;margin-top:5px;padding-right:0.8em;}
.success_box button{height:30px;border:none;background:#f07c2e;color:#fff;border-radius:0px;padding:0 20px;margin:40px 10px 0;}
.success_box button.grey{height:30px;border:none;background:#f5f5f5;color:#8f8f8f;border-radius:0px;padding:0 20px;}

.order_confirm h3{font-size:24px;color:#333;padding:50px 0 40px;}
.order_confirm .order_information{display:flex;border:1px solid #e6e6e6;}
.order_confirm .order_information .img_box{width:300px;background:#f5f5f5;position:relative;}
.order_confirm .order_information .img_box img{display:block;position:absolute;vertical-align:middle;top:50%;left:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);}
.order_confirm .order_information .img_box img{display:block;position:absolute;vertical-align:middle;top:50%;left:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);}
.order_confirm .order_information .information_box{width:900px;padding-left:35px;position:relative;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.order_confirm .order_information .information_box h4{font-size:24px;font-weight:normal;color:#333;margin-top:20px;}
.order_confirm .order_information .information_box div>span{display:block;font-size:14px;color:#8f8f8f;line-height:32px;}
.order_confirm .order_information .information_box div p{line-height:32px;margin-left:-5px;font-size:14px;}
.order_confirm .order_information .information_box div p span{color:#8f8f8f;}
.order_confirm .order_information .information_box div p:last-of-type{margin-bottom:20px;}
.order_confirm .order_information .information_box div p:first-of-type{margin-top:20px;}
.order_confirm .order_information .information_box div.orange{font-weight:bold;position:absolute;top:50%;right:35px;}
.order_confirm .payment_box{border:1px solid #e6e6e6;width:100%;clear: both;}
.order_confirm .payment_box td{border-top:1px solid #e6e6e6;padding:40px;}
.order_confirm .payment_box tr:first-of-type td{border-top:none;}
.order_confirm .payment_box td:first-of-type{background:#f5f5f5;text-align:center;width:300px;padding:0 !important;}
.order_confirm .payment_box tr:last-of-type td{padding:0 40px;}
.order_confirm .payment_box tr:last-of-type td:last-of-type input[type=radio]{vertical-align: top;margin-top:9px;}
.order_confirm .payment_box td div{margin:0 40px 0 0;line-height:1em;}
.order_confirm .payment_box td input[type=radio]{display:inline-block;vertical-align:middle;margin-right:8px;}
.order_confirm .payment_box td input[type=text]{border: 1px solid #f5f5f5;height:32px;margin: 20px 0;width:180px;padding:0 10px;font-size:16px;}
.order_confirm .payment_box td label{display:inline-block;font-size:16px;vertical-align:middle;line-height:1em;}
.order_confirm .payment_box tr:first-of-type td:last-of-type div{height:28px;}
.order_confirm .payment_box tr:first-of-type td:last-of-type div label{line-height:28px;}
.order_confirm .payment_box td p{font-size:16px;line-height:28px;height: 28px;}
.order_confirm .payment_box td p i{font-style:normal;}
.order_confirm .payment_box td a{font-size:16px;background:#f07c2e;color:#fff;line-height:28px;padding:0px 15px;margin-left:30px;border-radius:6px;}
.order_confirm .payment_box td label span{display:block;line-height: 28px;font-size:14px;}
.order_confirm .payment_box td .box{margin:0;border-bottom:1px solid #e6e6e6;float:left;width:100%;padding:10px 0;}
.order_confirm .payment_box td .box div:first-of-type{margin:0 60px 0 0;}
.order_confirm .payment_box td .box div:last-of-type{margin:0;}

.order_confirm .m_coupon_title{padding-bottom:20px;cursor:pointer;font-size:24px;color:#333;padding:50px 0 40px;float:left;font-weight:bold;}
.order_confirm .m_coupon_title i{margin-top:8px;margin-left:30px;height:10px;width:10px;float:right;border-top:2px solid #333;border-right:2px solid #333;transform:rotate(135deg);-webkit-transform:rotate(135deg);;-moz-transform:rotate(135deg);}
.order_confirm .m_coupon{display:none;border:1px solid #e6e6e6;float:left;width:100%;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.order_confirm .m_coupon.active{display:block;}
.order_confirm .m_coupon h5{font-size:14px;padding:0 20px;height:30px;line-height:30px;background:#f5f5f5;}
.order_confirm .m_coupon_list{width:100%;float:left;margin-top:30px;}
.order_confirm .m_coupon_list li{float:left;margin:0 25px 25px;width:172px;}
.order_confirm .m_coupon_list li>div{float:left;position:relative;width:100%;}
.order_confirm .m_coupon_list li>div img{display:block;z-index:1;width:172px;position:absolute;margin:0;}
.order_confirm .m_coupon_list li>div .price{font-size:16px;color:#fff;float:left;position:relative;z-index:3;margin:10px 0;padding-left:10px;}
.order_confirm .m_coupon_list li>div .price span{font-size:22px;color:#fff;line-height:1.7em;}
.order_confirm .m_coupon_list li>div .txt{z-index:3;float:right;margin:6px 0;position:relative;text-align:center;padding-right:10px;}
.order_confirm .m_coupon_list li>div .txt p{font-size:16px;color:#fff;line-height:1.5em;}
.order_confirm .m_coupon_list li>div .txt span{font-size:12px;color:#fff;}
.order_confirm .m_coupon_list li>a{font-size:14px;color:#f07c2e;margin-top:15px;border:1px solid #f07c2e;border-radius:4px;padding:3px 15px;float:left;display:block;margin-left:50%;transform:translateX(-50%);-moz-transform:translateX(-50%);-webkit-transform:translateX(-50%);}
.order_confirm .total{float:left;width:100%;text-align:right;margin:40px 0 0;}
.order_confirm .total p{float:right;clear:both;line-height:30px;}
.order_confirm .total p span{width:120px;display:inline-block;font-size:14px;padding-left:10px;}
.order_confirm .total p span.orange{font-weight:bold;}
.order_confirm .total p i{display:inline-block; font-style:normal;width:100px;font-size:14px;color:#8f8f8f;}
.order_confirm .place_box{width:100%;float:left;background:#f5f5f5;height:60px;margin:20px 0 40px;}
.order_confirm .place_box a{font-size:18px;color:#fff;background:#f07c2e;height:60px;line-height:58px;padding:0 30px;}

.logistics_check{border:1px solid #f5f5f5;padding:30px 20px;float:left;width:100%;}
.logistics_check h3{font-size:24px;font-weight:normal;display:block;}
.logistics_check .img_logistics{text-align:center;margin-top:40px;}
.logistics_check .img_logistics span{float:left;line-height:72px;margin:0 8px 0 12px;font-size:12px;letter-spacing: 4px;color:#333;}
.logistics_check .img_logistics p{font-weight:bolder;font-size:16px;color:#333;margin-top:3px;}
.logistics_check.active1 .img_logistics span:first-of-type{color:#f07c2e;}
.logistics_check.active1 .img_logistics div:first-of-type p{color:#f40;}
.logistics_check.active2 .img_logistics span{color:#f07c2e;}
.logistics_check.active2 .img_logistics div p{color:#f40;}
.logistics_check.active2 .img_logistics div:last-of-type p{color:#333;}
.logistics_check.active3 .img_logistics span{color:#f07c2e;}
.logistics_check.active3 .img_logistics div p{color:#f40;}
.logistics_check .logistics_view{width:600px;padding:30px 0 0;float:left;}
.logistics_check .logistics_view .txt{margin:0px;padding-bottom:5px;padding-left:10px;}
.logistics_check .logistics_view .txt p{margin-top:5px;color:#333;}
.logistics_check .logistics_view .txt p b{float:left;width:100px;}
.logistics_check .logistics_view .txt p span{color:#808080;margin-left:15px;}
.logistics_check .logistics_view h4{font-size:24px;font-weight:normal;margin:25px 0 35px;}
.logistics_check .logistics_view .logistics_process{padding:1px 40px 0px;border-left:1px solid #e6e6e6;margin:0 20px 0px;}
.logistics_check .logistics_view .logistics_process p{position:relative;margin-bottom:22px;margin-top:-7px;padding-bottom:12px;border-bottom:1px solid #e6e6e6;}
.logistics_check .logistics_view .logistics_process p b{line-height:1em;display:block;margin-top:0px;color:#808080;margin-bottom:12px;font-size:12px;}
.logistics_check .logistics_view .logistics_process p span{display:block;color:#808080;font-size:16px;}
.logistics_check .logistics_view .logistics_process p i{height:6px;width:6px;background:#e6e6e6;border-radius:50%;border:1px solid #e6e6e6;position:absolute;left:-44px;top:3px;}
.logistics_check .logistics_view .logistics_process p.active b{color:#333;}
.logistics_check .logistics_view .logistics_process p.active span{color:#333;}
.logistics_check .logistics_view .logistics_process p.active i{background:#f07c2e;height:8px;width:8px;border:2px solid rgba(249,199,166,1);left:-45px;}

.m_content .m_rightbox .m_order_view{border:1px solid #e6e6e6;padding:30px 20px;min-height:450px;width:100%;}
.m_content .m_rightbox .m_order_view h3{font-size:24px;font-weight:normal;}
.m_content .m_rightbox .m_order_view h4{font-size:18px;border-bottom:1px solid #f5f5f5;padding:10px 0;margin:30px 0;line-height:28px;}
.m_content .m_rightbox .m_order_view h4 a{color:#fff;background:#f07c2e;font-weight:normal;font-size:14px;height:28px;width:90px;line-height:28px;text-align:center;}
.m_content .m_rightbox .m_order_view div.title p{line-height:64px;font-size:18px;}
.m_content .m_rightbox .m_order_view table{width:100%;border:1px solid #f5f5f5;}
.m_content .m_rightbox .m_order_view table th{background:#f5f5f5;line-height:30px;font-size:14px;color:#333;padding:0 10px;}
.m_content .m_rightbox .m_order_view table th.width1{width:12%;}
.m_content .m_rightbox .m_order_view table th.width2{width:25%;}
.m_content .m_rightbox .m_order_view table td{text-align:center;height:116px;position:relative;font-size:12px;padding:0 10px;}
.m_content .m_rightbox .m_order_view table td p{width:100%;word-break: break-all;}
.m_content .m_rightbox .m_order_view table td.price p{text-align:left;}
.m_content .m_rightbox .m_order_view table td p span{width:50px;text-align:left;display:inline-block;}
.m_content .m_rightbox .m_order_view table td:first-of-type p{width:auto;display:inline-block;vertical-align:middle;margin-left:10px;word-break: break-all;}
.m_content .m_rightbox .m_order_view table td:first-of-type span{display:inline-block;vertical-align:middle;height:58px;width:58px;position:relative;}
.m_content .m_rightbox .m_order_view table td:first-of-type span img{width:100%;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);}
.m_content .m_rightbox .m_order_view div.txt{border-bottom:1px solid #f5f5f5;padding-bottom:10px;}
.m_content .m_rightbox .m_order_view div.txt h4{font-size:18px;padding:0;margin:20px 0;line-height:28px;border:none;}
.m_content .m_rightbox .m_order_view div.txt h4 a{color:#8f8f8f;background:none;font-weight:normal;font-size:14px;height:26px;line-height:26px;border:1px solid #999;}
.m_content .m_rightbox .m_order_view div.txt p{color:#8f8f8f;font-size:14px;line-height:32px;}
.m_content .m_rightbox .m_order_view div.txt p span{color:#333;width:80px;display:inline-block;}
.m_content .m_rightbox .m_order_view div.total p{width:300px;font-size:18px;margin-top:20px;}
.m_content .m_rightbox .m_order_view div.total p span{float:right;}
.m_content .m_rightbox .m_order_view div.total h5{width:300px;font-size:18px;font-weight:normal;line-height:35px;margin-top:35px;}
.m_content .m_rightbox .m_order_view div.total h5 span{float:right;font-size:30px;}












































